@import url('https://fonts.googleapis.com/css2?family=Martel:wght@200;300;400;600;700;800;900&family=Monda:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header{
    font-family: 'Monda', sans-serif;
    background-image:url(img/Porsche_Formule_E.jpg);
    background-size: cover;
    display: flex;
    height:70vh;
}

nav{
    width: 98.75vw;
    height: 2.5em;
    background-color: black;
    display: flex;
    justify-content: center;
    filter: drop-shadow(8px 8px 10px gray);
}
nav a{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 500;
    height: 100%;
    padding: 10px;
    text-align: center;
    width: 20%;
    text-decoration: none;
    color: white;
}

nav a:hover{
    background-color: white;
    color: black;
}

main{
    padding: 5em 0 2.5em 0;
    background-color: #cccccc;
}

#header_title{
    background-color: white;
    width: 50%;
    height: 100%;
}

#group{
    width: 80%;
    height: 40%;
    text-align: right;
    margin-left: 10%;
    margin-top: 17.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

article{
    margin:2.5em 0;
    display: flex;
}

.text{
    padding: 0 2em 2em 2em;
}

.column-left{
    width: 50%;
}

.subtitle{
    font-size:2rem;
    font-family: "Martel", serif;
}

p{
    font-size: 0.8rem;
    text-align: justify;
    font-family: "Martel", serif;
}

.column-right{
    width: 50%;
}

img{
    width: 100%;
}